<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.demo.mapper.WaterMapper">
    <select id="getWaterInfo" resultType="com.nice.demo.entity.WaterEntity">
        SELECT `waterinfo_view`.`stationCode`,
        `waterinfo_view`.`stationName`,
        `waterinfo_view`.`longitude`,
        `waterinfo_view`.`latitude`,
        `waterinfo_view`.`riverName`,
        `waterinfo_view`.`category`,
        `waterinfo_view`.`city`,
        `waterinfo_view`.`suboffice`,
        `waterinfo_view`.`address`,
        `waterinfo_view`.`waterPos`,
        `waterinfo_view`.`normalNum`,
        `waterinfo_view`.`wateTime`
        FROM `waterinfo_view`
        <include refid="condition"></include>
    </select>

    <select id="getWaterRows" resultType="Integer">
        select count(1) from `waterinfo_view`
        <include refid="condition"></include>
    </select>

    <sql id="condition">
        <where>
            <if test="type!=null and type!=''">
                and category = #{type,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="getWaterBySite" resultType="com.nice.demo.entity.WaterEntity">
        SELECT `waterinfo_view`.`stationCode`,
        `waterinfo_view`.`stationName`,
        `waterinfo_view`.`longitude`,
        `waterinfo_view`.`latitude`,
        `waterinfo_view`.`riverName`,
        `waterinfo_view`.`category`,
        `waterinfo_view`.`city`,
        `waterinfo_view`.`suboffice`,
        `waterinfo_view`.`address`,
        `waterinfo_view`.`waterPos`,
        `waterinfo_view`.`normalNum`,
        `waterinfo_view`.`wateTime`
        FROM `waterinfo_view`
        where category = #{type} and stationCode = #{site}
    </select>

</mapper>

